html,
body:root {
  font-family: var(--font-ubuntu);
  height: 100%;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1336px;
  }
}
.primary-color {
  color: #fcd800;
}
.text-clr-gray {
  color: #637381;
}
.bg-clr-primary {
  background-color: #fcd800 !important;
}
.bg-clr-ash {
  background-color: #f3f3f3;
}
.fw-semi-bold {
  font-weight: 500;
}
.fs-10 {
  font-size: 10px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.radius-8 {
  border-radius: 8px;
}
.radius-16 {
  border-radius: 16px;
}
.radius-24 {
  border-radius: 16px;
}
.radius-32 {
  border-radius: 32px;
}
.fw-300 {
  font-weight: 200 !important;
}
.cursor-pointer {
  cursor: pointer;
}
.is-shadow {
  -webkit-box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1),
    0px 12px 32px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1),
    0px 12px 32px rgba(0, 0, 0, 0.05);
}

.number-input input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.number-input input[type="number"] {
  -moz-appearance: textfield;
}

.btn,
button,
.form-control,
input {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.login-form .form-control {
  height: 48px;
  border: 1px solid #e4e4e4;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 20px center !important;
  font-size: 16px;
}

@media (min-width: 780px) {
  .login-form {
    width: 445px;
  }
}

.login-form .form-control#phone {
  background-image: url("../public/img/phone.svg");
}
.login-form .form-control#password {
  background-image: url("../public/img/password.svg");
}
.login-form .form-control#confirm_password,
.login-form .form-control#current_password {
  background-image: url("../public/img/password.svg");
}
.password .pass-show-hide {
  top: 40px;
  right: 30px;
}
.primary-btn {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 12px;
  font-weight: 700;
}

.secondary-btn {
  background-color: #fcd800;
  color: #000;
  border-radius: 5px;
  padding: 12px;
  font-weight: 700;
  border: 2px solid #fcd800 !important;
}
.form-check-input {
  border: 1px solid #000 !important;
}
.form-check-input:checked {
  background-color: #000 !important;
  border-color: #000 !important;
}
.form-check-input:focus {
  border-color: none !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* //OTP */

.otp-input input {
  border: 1px solid #e4e4e4 !important;
  background: none;
  border-radius: 0.4rem;
}
@media (min-width: 480px) {
  .otp-input input {
    width: 40px !important;
    height: 40px !important;
    padding: 0.9rem 0.5rem !important;
  }
}
.otp-timer {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #fcd800;
}
.menu-active {
  background-color: #fffade;
  border-radius: 8px;
  color: #000;
}

.custom-select select,
.custom-select select:focus {
  color: #919eab;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
}

.custom-select select:focus > option:checked {
  background-color: #fcd800 !important;
  color: #fff;
  box-shadow: 0 0 10px 100px #000 inset !important;
}

.custom-select2 select,
.custom-select2 select:focus {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background: transparent;
  background-image: url("../public/img/arrow-down.svg");
  background-repeat: no-repeat;
  background-position-y: 20px !important;
  border-radius: 5px;
  margin-right: 2rem;
  padding: 0.5rem 1rem;
  padding-right: 2rem;
  background-position-x: 95% !important;
  color: #000;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.custom-select2 select:focus > option:checked {
  background-color: #fcd800 !important;
  color: #fff;
  box-shadow: 0 0 10px 100px #000 inset !important;
}
.search-box .form-control {
  height: 42px;
  font-size: 14px;
  color: #919eab;
  margin-top: -3px;
}
/* Order  Table */
.order-table table {
  width: 100%;
}

.order-table table th {
  font-size: 12px;
  text-align: start;
  font-weight: 600;
  padding: 16px 10px;
  color: #637381;
  white-space: nowrap;
}

.order-table th:nth-child(even),
.order-table th:nth-child(odd) {
  background: #f4f6f8;
  border-radius: 3px;
}

.order-table table td {
  font-size: 12px;
  padding: 0px 10px;
  color: #637381;
  font-weight: 500;
  border-bottom: 10px solid #f4f6f8;
  white-space: nowrap;
}

/* Product Table */
.product-table table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 14px;
}

.product-table table th {
  font-size: 12px;
  text-align: start;
  font-weight: 400;
  padding: 16px 10px;
  color: #637381;
  white-space: nowrap;
}

.product-table th:nth-child(even),
.product-table th:nth-child(odd) {
  background: #f4f6f8;
  border-radius: 3px;
}

.product-table table td {
  font-size: 12px;
  padding: 5px 10px;
  color: #000;
  font-weight: 500;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  white-space: nowrap;
}

.product-table td:first-child {
  border-left: 1px solid #c4c4c4;
}

.product-table td:last-child {
  border-right: 1px solid #c4c4c4;
}

/* Order  Table */
.offer-table table {
  width: 100%;
}

.offer-table table th {
  font-size: 12px;
  text-align: start;
  font-weight: 500;
  padding: 16px 10px;
  color: #637381;
  white-space: nowrap;
}

.offer-table th:nth-child(even),
.offer-table th:nth-child(odd) {
  background: #f4f6f8;
  border-radius: 3px;
}

.offer-table table td {
  font-size: 12px;
  padding: 10px 10px;
  color: #637381;
  font-weight: 500;
  white-space: nowrap;
}
/* pagination */
.paginationBtn {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginationBtn a {
  color: #666666;
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 14px;
}
.paginationBtn a:hover {
  color: #56606d !important;
  background-color: #fde8eb;
  border-color: none;
}
.paginationActiveBtn a {
  color: #fcd800 !important;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(95, 95, 95, 0.08);
}
@media (max-width: 780px) {
  .paginationBtn a {
    padding: 4px 8px;
    font-size: 12px;
  }
}

.previousBtn {
  padding: 8px 10px !important;
}
.nextBtn {
  padding: 8px 10px !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.offcanvas {
  width: 100% !important;
}
@media (min-width: 968px) {
  .offcanvas {
    width: 45% !important;
  }
}

.product-form .form-control {
  height: 48px;
  border: 1px solid #f3f3f3;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f3f3f3;
  font-size: 14px;
}

.file-upload-btn {
  border: 1px dashed #dce0e4;
  max-width: 100px;
}
.img-preview {
  height: 100px;
  width: 100px;
}

/* Tab */
.others-tab .nav-tabs {
  border: 1px dashed #dce0e4;
}
.others-tab .nav-tabs .nav-item.show .nav-link,
.others-tab .nav-tabs .nav-link.active {
  color: #000 !important;
  background-color: #f1e9bb !important;
}

.others-tab .nav-tabs .nav-link {
  color: #000;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  width: 180px;
  padding: 10px 0px !important;
  border: none !important;
}

.others-tab .nav-tabs .nav-link:hover {
  border: none !important;
}

.tab-btn {
  width: 180px;
  border: 1px dashed #dce0e4 !important;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  width: 180px;
  padding: 10px 0px !important;
  background-color: transparent;
}
.btn-container {
  border: 1px dashed #dce0e4;
  border-radius: 5px;
}
.tab-btn-active {
  background-color: #f1e9bb;
}
@media (max-width: 968px) {
  .tab-btn {
    width: 150px;
  }
}

.delete-modal {
  width: 550px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 24px;
  min-height: 400px;
}
.delete-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.register-date .react-datepicker-wrapper input {
  padding: 10px 10px;
  width: 100% !important;
  border: 1px solid #ced4da;
  border-radius: 5px;
  height: 45px;
}
